Projet/WebForm/Connected Services/MonitoringRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonitoringService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitoringService_numberOfRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:numberOfRequest" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_numberOfRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:numberOfRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_avgTimeRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:avgTimeRequest" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_avgTimeRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:avgTimeRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_cityPopularity_InputMessage">
    <wsdl:part name="parameters" element="tns:cityPopularity" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_cityPopularity_OutputMessage">
    <wsdl:part name="parameters" element="tns:cityPopularityResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_mostPopularCity_InputMessage">
    <wsdl:part name="parameters" element="tns:mostPopularCity" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_mostPopularCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostPopularCityResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_cities_InputMessage">
    <wsdl:part name="parameters" element="tns:cities" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_cities_OutputMessage">
    <wsdl:part name="parameters" element="tns:citiesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitoringService">
    <wsdl:operation name="numberOfRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/numberOfRequest" message="tns:IMonitoringService_numberOfRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/numberOfRequestResponse" message="tns:IMonitoringService_numberOfRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="avgTimeRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/avgTimeRequest" message="tns:IMonitoringService_avgTimeRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/avgTimeRequestResponse" message="tns:IMonitoringService_avgTimeRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cityPopularity">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/cityPopularity" message="tns:IMonitoringService_cityPopularity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/cityPopularityResponse" message="tns:IMonitoringService_cityPopularity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostPopularCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/mostPopularCity" message="tns:IMonitoringService_mostPopularCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/mostPopularCityResponse" message="tns:IMonitoringService_mostPopularCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cities">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/cities" message="tns:IMonitoringService_cities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/citiesResponse" message="tns:IMonitoringService_cities_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMonitoringService" type="tns:IMonitoringService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="numberOfRequest">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/numberOfRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="avgTimeRequest">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/avgTimeRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cityPopularity">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/cityPopularity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostPopularCity">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/mostPopularCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cities">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/cities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitoringService">
    <wsdl:port name="BasicHttpBinding_IMonitoringService" binding="tns:BasicHttpBinding_IMonitoringService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/MonitoringService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>